p {
    text-indent: 50px;
}
img.error {
  width: inherit;  /* This makes the next two lines work in IE8. */
  max-width: 100%; /* Add !important if needed. */
  height: auto;    /* Add !important if needed. */
}
img.main {
  display: inline-block;
  width: inherit;  /* This makes the next two lines work in IE8. */
  max-width: 100%; /* Add !important if needed. */
  height: 900px;    /* Add !important if needed. */
}
img.logo {
  display: inline-block;
  width: inherit;  /* This makes the next two lines work in IE8. */
  max-height: 50px; /* Add !important if needed. */
}
div.error{
	margin: auto;
	text-align: center;
	max-width: 800px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
div.detail{
	float: left;
	background-color: #F2F2F2;
	width: 100%;
	min-height: 180px;
}

ul#horizontal-list {
	float:left;
	max-width: 100%;
	list-style: none;
	text-align:center;
	/*background-color: #FFFF00;*/
	padding: 0;
    list-style-type: none;
    margin: 0px auto;
}
ul#horizontal-list li {
	display: inline-block;
	margin:5px 0px;
}
div.catalogue{
	display: block;
	margin: 10px 0px;
	padding:0px;
	/*background-color: #00FF00;*/
	text-align: center;
}
div.brand{
	margin: 10px 0px;
	height: inherit;
	text-align: center;
}
.head1{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #FEFA03;
	text-shadow: 2px 2px #888888;
}
.slideContainer{
	/*padding-top: 50px;*/
}
.productContainer{
	/*padding-top: 50px;*/
	max-width:1340px;
	margin:10px auto;
}

.contactContainer{
	padding-top: 70px;
	margin: 10px auto;
	max-width: 1340px;
}
.contactContainer img{
	width:100%;
}
.brandWrapper{
	float: left;
	width: 100%;
	max-width: none;
}
.brandDiv{
	max-width: 200px;
}
.brandList{
	display: inline-block;
	padding-left: 0px;
}

.brandList >li{
	padding-left: 0px;
	list-style: none;
	float: none;
	margin: 0px 5px;
}
.brandContainer{
	/*width: 430px;*/
	text-align: center;
	margin: 0px auto;
}
.brandLogo{
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
	border: 5px solid #F2F2F2;
}
.brandLogo:hover{
	border-color: #F2F100;
}
.product{
	width:350px;
	height:200px;
	float:left;
	position: relative;
}

.groupList{
	list-style-type: none;
    margin: 0;
    padding: 0;
}
.groupListContainer{
	display:block;
	/*overflow:hidden;*/
}
.groupList >li{
    float: left;
    margin:5px 5px;
}
.groupList >li >a{
	-moz-box-shadow:inset 0px -3px 7px 0px #29bbff;
	-webkit-box-shadow:inset 0px -3px 7px 0px #29bbff;
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background-color:#2dabf9;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	/*border:1px solid #263666;*/
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:5px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.groupList >li >a:hover{
	background-color:#0688fa;
}
.newsInnerRow{
	margin-left:10px;
	margin-right:10px;
	margin-top:20px;
}
.readmoreBtn{
	border-radius: 0px;
}
.imageTitleNews{
	max-width: 80%;
	margin: auto;
}
.topBuffer { margin-top:20px; }
#productList{ padding-top: 5px}
@media screen and (min-width: 768px){
	.brandList >li{
		float: left;
	}
	.brandWrapper{
		max-width: 230px
	}
	.brandContainer{
		width: auto;
		margin: 0px auto;
	}
	.groupListContainer{
		overflow:hidden;
	}
}
@media screen and (min-width: 992px) {
	div.catalogue{
		float:left;
		width: 30%;
		height: 100%;
	}
	ul#horizontal-list {
		max-width: 70%;
	}
	div.brand{
		text-align: left;
	}
	.brandDiv{
		margin: 5px 5px;
	}
	.brandList >li{
		float: none;
	}
	.productContainer{
		margin:5px auto;
	}
}

.contactbutton {
	-moz-box-shadow:inset 0px 34px 0px -15px #261614;
	-webkit-box-shadow:inset 0px 34px 0px -15px #261614;
	box-shadow:inset 0px 34px 0px -15px #261614;
	background-color:#120705;
	border:1px solid #241d13;
	display:inline-block;
	cursor:pointer;
	color:#e9f53b;
	font-family:Arial;
	font-size:21px;
	font-weight:bold;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #7a2a1d;
}
.contactbutton:hover {
	background-color:#000000;
	color:#e9f53b;
}
.contactbutton:active {
	position:relative;
	top:1px;
}


/*@media screen and (min-width: 1025px) {
	img.logo {
	  max-height: 80px; 
	}
	.slideContainer{
		padding-top: 80px;
	}
	.productContainer{
		padding-top: 80px;
	}
}*/