@font-face {
	font-family: HelveticaInseratLTStd;
    src: url(../fonts/HelveticaInseratLTStd-Roman.otf);
}
@font-face {
    font-family: CSChatThai;
    src: url(../fonts/CSChatThai.ttf);
}
@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: DidactGothic;
    src: url(../fonts/DidactGothic.ttf);
}
p.news {
	font-family: OpenSans;
	font-style: normal;
	font-weight: 300;
	color: #5a5a5a;
	font-size: 18px;
    text-indent: 50px;
}
p.newsList {
	font-family: OpenSans;
	font-style: normal;
	font-weight: 300;
	color: #5a5a5a;
	font-size: 16px;
    text-indent: 30px;
}
img{
	border: 0px;
}
img.error {
  width: inherit;  /* This makes the next two lines work in IE8. */
  max-width: 100%; /* Add !important if needed. */
  height: auto;    /* Add !important if needed. */
}
img.main {
  display: inline-block;
  width: inherit;  /* This makes the next two lines work in IE8. */
  max-width: 100%; /* Add !important if needed. */
  height: 900px;    /* Add !important if needed. */
}
img.logo {
  display: inline-block;
  width: inherit;  /* This makes the next two lines work in IE8. */
  max-height: 50px; /* Add !important if needed. */
}
div.error{
	margin: auto;
	text-align: center;
	max-width: 800px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
div.detail{
	background-color: #E0E0E0;
	width: 100%;
	min-height: 180px;
}

div.detail >div{
	width: 100%;
}

ul#horizontal-list {
	max-width: 100%;
	list-style: none;
	text-align:center;
	padding: 0;
    list-style-type: none;
    margin: 0px auto;
}
ul#horizontal-list li {
	display: inline-block;
	margin:5px 5px;
}
div.catalogue{
	display: block;
	margin: 10px 0px;
	padding:0px;
	text-align: center;
}
div.brand{
	margin: 10px 0px;
	height: inherit;
	text-align: center;
}
.head1{
	font-family: CSChatThai;
	font-weight: bold;
	font-size: 24px;
	color: #FEFA03;
	text-shadow: 2px 2px #888888;
}
.linkCatalogue{
	font-family: CSChatThai;
	font-size: 18px;
	color: #424242;
	font-weight: bold;
}
.linkViewMoreCatalogue{
	font-family: CSChatThai;
	font-weight: bold;
	font-size: 14px;
}
.catalogueDetail{
	margin-top: 5px;
}
.slideContainer{
	/*padding-top: 50px;*/
}
.productContainer{
	/*padding-top: 50px;*/
	max-width:1340px;
	margin:10px auto;
}
.subheaderContainer{
	/*padding-top: 50px;*/
	max-width:1340px;
	margin:5px auto;
}
.subheaderContainer row{
	display: block;
}
.subheaderContainer label{
	padding-left: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	vertical-align: bottom;
}
.sessionContainer{
	text-align: right;
	margin: 10px auto;
}
.subheaderContact label{
	font-family: CSChatThai !important;
	font-size: 26px;
	line-height: 32px;
}
.contactContainer{
	font-family: CSChatThai;
	font-size: 20px;
	margin: 10px auto;
	max-width: 1340px;
}
.contactContainer img{
	width:100%;
}

.contactContainer .jumbotron{
	padding:20px;
}

.membercontainer{
	/*margin-left: 250px;*/
}

.adminleft{
	float: left;
	width: 100%;
	max-width: 250px;
	margin-left: 10px;
	text-align: center;
	margin-top: 11px;
}

.adminleft #button li{
	float: left;
	list-style: none;
	text-align: center;
	background-color: #C0C0C0;
	margin-right: 30px;
	width: 200px;
	line-height: 60px;
	max-width: none;
	display:inline-block;
	margin-top: 30px;
}

.brandWrapper{
	float: left;
	width: 100%;
	max-width: none;
}
.brandList{
	padding-left: 0px;
	padding-right: 0px;
}
.newsHome{
	max-width:100%
}
.brandContainer{
	text-align: center;
	margin: 0px auto;
}
.brandLogo{
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
	border: 4px solid #F2F2F2;
}
.brandLogoActive{
	border-color: #F2F100;
}
.brandLogo:hover,.brandLogo_home:hover{
	border-color: #F2F100;
}
.brandLogo_home{
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
	border: 4px solid #E0E0E0;
}
.product{
	margin:5px auto;
	max-width:330px;
	/*height:200px;*/
	/*float:left;*/
	height: 260px;
	position: relative;
}

.groupList{
	text-align: center;
	list-style-type: none;
    margin: 0;
    padding: 0;
}
.groupListContainer{
	display:block;
	/*overflow:hidden;*/
}
.groupList >li{
    display: inline-block;
    margin:5px 5px;
}
.groupList >li >a{
	background-color:#424242;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	/*border:1px solid #263666;*/
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:5px 15px;
	text-decoration:none;
	font-weight: bold;
}
.groupListActive{
	background-color:#000000 !important;
	color:#F2F100 !important;
}
.groupList >li >a:hover{
	background-color:#000000;
	color:#F2F100;
}
.newsInnerRow{
	margin-left:10px;
	margin-right:10px;
	margin-top:20px;
}
.newsInnerRow >div>h2{
	font-family: DidactGothic;
	letter-spacing: 4px;
	margin-top: 0px;
}
.readmoreBtn{
	border-radius: 0px;
}
.imageTitleNews{
	max-width: 75%;
	margin: auto;
}
.topBuffer { 
	margin-top:20px; 
}
.copyRight{
	text-align: center;
	margin-bottom: 20px;
}
.viewmoreContainer{
	text-align: right;
	padding-right: 40px;
}
.viewmore{
	font-size: 26px;
	font-family: CSChatThai;
	font-weight: bold;
}
.videoWrapper{
	position:relative;
	padding-bottom:56.25%;
	height:0;
}
.videoWrapper iframe{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%
}
div.newsEnd{
	margin-bottom: 25px;
}
.newsContent{
	padding-left: 20px;
}
.navText{
	font-family: HelveticaInseratLTStd,"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.productListContainer,.adminDetailContainer{ 
	padding-top: 5px;
	padding-left: 0px
}
.productList{
	padding-top: 15px;
	padding-bottom: 15px;
}
.productList >div{
	min-height: 225px;
}
.adminMenuDiv{
	margin-top: 10px;
}
.adminMenuDiv >button{
	-moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
.contactbutton {
	-moz-box-shadow:inset 0px 34px 0px -15px #261614;
	-webkit-box-shadow:inset 0px 34px 0px -15px #261614;
	box-shadow:inset 0px 34px 0px -15px #261614;
	background-color:#120705;
	border:1px solid #241d13;
	display:inline-block;
	cursor:pointer;
	color:#e9f53b;
	font-family:Arial;
	font-size:21px;
	font-weight:bold;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #7a2a1d;
}
.contactbutton:hover {
	background-color:#000000;
	color:#e9f53b;
}
.contactbutton:active {
	position:relative;
	top:1px;
}
.loginPanelHeader{
	background-color: #424242 !important; 
	color: #F2F100 !important;
}
.loginPanel{
	border-color: #424242 !important;
	/*font-family: CSChatThai;*/
}
.btnKhcycle{
	font-size: 18px;
	background-color: #424242 !important; 
	color: #F2F100 !important;
	border-color: #424242 !important;
}
.btnKhcycle:hover{
	background-color:#000000 !important;
}
.tag {
	background-color: #E0E0E0;
   	z-index: 1000;
   	padding: 5px;
   	color: #FEFA03;
   	text-shadow: 2px 2px #888888;
}
.tag h3{
	display:none;
	margin-top: 0px;
	font-weight: bold;
}
.tag div{
	text-align: right;
}
.btnSearch{
	color:#DDDDDD;
	background-color:#222;
	border: 0px;
	border-color: #222;
}
.btnSearch:hover,.btnSearch:active,.btnSearch:focus{
	color:#F2F100;
	background-color:#222;
	border: 0px;
	border-color: #222;
}

.searchInput{
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

.productMain,.adminMain{
	max-width: 100%;
}
@media screen and (min-width: 768px){
	.brandLogo{
		max-width: 200px;
		float: right;
	}
	.productMain,.adminMain{
		max-width: 90%;
	}
	.tag{
		color:#FFFFFF;
	   	float: right;
   		position: absolute;
   		background-color: transparent;
	   	text-shadow: none;
	}
	.tag h3{
		display:block;
	}
	.tag div{
		text-align: left;
	}
	.product{
		margin: 5px 10px;
		float: left;
	}
	.groupList{
		text-align: left;
	}
	.newsHome{
		max-width:100%
	}
	.brandList >li{
		float: left;
	}
	.brandWrapper{
		max-width: 230px
	}
	.brandContainer{
		width: auto;
		margin: 0px auto;
	}
	.groupListContainer{
		overflow:hidden;
	}
}

@media screen and (min-width: 992px) {
	.productMain,.adminMain{
		max-width: 85%;
	}
	div.detail >div{
		width: 90%;
	}
	.newsHome{
		max-width:95%
	}
	div.catalogue{
		float:left;
		width: 30%;
		height: 100%;
	}
	div.brand{
		text-align: left;
	}
	.brandDiv{
		margin: 5px 5px;
	}
	.brandList >li{
		float: none;
	}
	.productContainer{
		margin:5px auto;
	}
	.videoWrapper iframe{
		height:100%
	}
}
@media screen and (min-width: 1500px) {
	div.detail >div{
		width: 80%;
	}
	.newsHome{
		max-width:70%
	}
}